.header {
  display: flex;
  align-items: center;
  background: #2196f3;
  height: 64px;
  padding: 0 62px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item {
  display: inline-block;
}

.link {
  padding: 21px 10px;
  text-decoration: none;
  color: #fff;
}
